/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.people {
  height: 200px;
}

.pubyear {
  margin: 1em;
}

.bibtexnumber {
  width: 3em;
  text-align: left;
}
