{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="col-md-9 welcome">
    <h3>SOSP 2019 Awards</h3>

    <br/>
    <h2>Best Papers</h2>
    <ul>
	<li><i>Efficient and Scalable Thread-Safety Violation Detection</i>, 
	    Guangpu Li (University of Chicago), Shan Lu (University of 
	    Chicago), Madanlal Musuvathi (Microsoft Research), Suman Nath 
	    (Microsoft Research), and Rohan Padhye (UC Berkeley)</li>
	<li><i>Scaling symbolic evaluation for automated verification of 
		systems code with Serval</i>, Luke Nelson (University of 
	    Washington), James Bornholt (University of Washington), Ronghui Gu 
	    (Columbia University), Andrew Baumann (Microsoft Research), Emina 
	    Torlak (University of Washington), and Xi Wang (University of 
	    Washington)</li>
    </ul>

    <br/>
    <h2>Student Research Competition - Graduate Students</h2>
    <ul>
	<li>Gold Medalist: <i>Efficient Privacy Policies in Multiverse 
		Databases</i>, Samyukta Yagati (MIT)</li>
	<li>Silver Medalist: <i>Robustly Improving Byte Miss Ratio with 
		Workload-Learning Caching</i>, Zhengyu Song (Princeton 
	    University)</li>
	<li>Bronze Medalist: <i>Wave: A Substrate for Distributed Graph 
		Processing on Commodity Clusters</i>, Swapnil Gandhi (Indian 
	    Institute of Science)</li>
    </ul>

    <br/>
    <h2>Student Research Competition - Undergraduate Students</h2>
    <ul>
	<li>Gold Medalist: <i>EnergyTimers: Integrating Physical Energy 
		Measurement Devices into OS Kernels</i>, Luis Gerhorst ( 
	    Friedrich-Alexander-Universität Erlangen-Nürnberg (FAU))</li>
	<li>Silver Medalist: <i>Visualizing Critical Sections in Rust</i>, Ziyi 
	    Zhang (University of Science and Technology of China)</li>
    </ul>

    <br/>
    <h2>SIGOPS Dennis M. Ritchie Doctoral Dissertation Award</h2>
    <ul>
      <li><i>Unobservable communications over untrusted infrastructure</i>, 
	  Sebastian Angel, University of Texas, Austin, Advisor: Michael 
	  Walfish</li>
    </ul>

    <br/>
    <h2>SIGOPS Hall of Fame Awards</h2>
    <ul>
      <li><i>KLEE: Unassisted and Automatic Generation of High-Coverage Tests 
	      for Complex Systems Programs</i>, Cristian Cadar, Daniel Dunbar, 
	  and Dawson Engler (Stanford University) OSDI 2008</li>
      <li><i>DryadLINQ: A System for General-Purpose Distributed Data-Parallel 
	      Computing Using a High-Level Language</i>, Yuan Yu, Michael 
	  Isard, Dennis Fetterly, Mihai Budiu, Úlfar Erlingsson, Pradeep Kumar 
	  Gunda, and Jon Currey (Microsoft Research) OSDI 2008</li>
      <li><i>Debugging in the (Very) Large: Ten Years of Implementation and 
	      Experience</i>, Kirk Glerum, Kinshuman Kinshumann, Steve 
	  Greenberg, Gabriel Aul, Vince Orgovan, Greg Nichols, David Grant, 
	  Gretchen Loihle, and Galen Hunt (Microsoft) SOSP 2009</li>
      <li><i>seL4: formal verification of an OS kernel</i>, Gerwin Klein, Kevin 
	  Elphinstone, Gernot Heiser, June Andronick, David Cock, Philip 
	  Derrin, Dhammika Elkaduwe, Kai Engelhardt, Rafal Kolanski, Michael 
	  Norrish, Thomas Sewell, Harvey Tuch, and Simon Winwood (NICTA, UNSW, 
	  Open Kernel Labs, and ANU) SOSP 2009</li>
    </ul>

    <br/>
    <h2>Mark Weiser Award</h2>
    <ul>
	<li>Ion Stoica</li>
    </ul>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
