{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Call for Papers</h3>

    <div class="col-md-12 welcome-middle">
      <p>
      The 27th Symposium on Operating Systems Principles seeks to present 
      exciting, innovative research related to the design, implementation, 
      analysis, evaluation, and deployment of computer systems software. SOSP 
      takes a broad view of the systems area and solicits contributions from 
      many fields of systems practice, including, but not limited to, operating 
      systems, file and storage systems, distributed systems, cloud systems, 
      mobile systems, secure systems, embedded systems, dependable systems, 
      system management and virtualization. We also welcome work that explores 
      the interface to related areas such as computer architecture, networking, 
      programming languages, and databases. In keeping with SOSP tradition, we 
      will favor work that explores new territory, continues a significant 
      research dialogue, or reflects on experience with or measurements of 
      state of the art implementations. Papers of particular merit will be 
      forwarded to ACM Transactions on Computer Systems for possible 
      publication.
      </p>
      <p>
      Papers will be judged on novelty, significance, clarity, relevance, and 
      correctness. A good paper will:
      </p>
      <p>
      <ul>
        <li>Consider a significant problem.</li>
        <li>Propose and implement an interesting, compelling solution.</li>
        <li>Demonstrate the practicality and benefits of the solution.</li>
        <li>Draw appropriate conclusions.</li>
        <li>Clearly describe what the authors have done.</li>
        <li>Clearly articulate the advances beyond previous work.</li>
      </ul>
      </p>
      <p>
      We encourage submission of ground breaking work in significant new 
      directions, with the understanding that evaluation criteria for papers 
      addressing new problems may be different from those continuing a line of 
      work in a more established area.
      </p>
      <p>
      To facilitate broad technical discussion, all accepted papers will be 
      made available online in advance of the conference.
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Author Response Period</h5>
      <p>
      SOSP will provide an opportunity for authors to respond to reviews prior 
      to final consideration of the papers at the program committee meeting. 
      Authors must limit their responses to (a) correcting factual errors in 
      the reviews or (b) directly addressing questions posed by reviewers. 
      Responses should be limited to clarifying the submitted work. In 
      particular, responses must not include new experiments or data, describe 
      additional work completed since submission, or promise additional work to 
      follow.
      </p>
      <p>
      Submission of a response is optional. There is no explicit limit to the 
      response, but authors are strongly encouraged to keep it under 500 words; 
      reviewers are neither required nor expected to read excessively long 
      rebuttals.
      </p>
    </div>

    <div class="welcome-middle important-dates col-md-12">
      <h5 class="left-h">Important Upcoming Dates</h5>
      <table class="important-dates" align="left">
        <tr>
          <th>Event Info</th>
          <th>Date</th>
          <th>Link</th>
        </tr>
        <tr>
          <td>Deadline to Register Abstracts</td>
          <td>April 17, 2019 (11:59 PM UTC)</td>
          <td></td>
        </tr>
        <tr>
          <td>Submission Deadline (No extensions)</td>
          <td>April 24, 2019 (11:59 PM UTC)</td>
          <td></td>
        </tr>
        <tr>
          <td>Author Response</td>
          <td>July 8-10, 2019</td>
          <td></td>
        </tr>
        <tr>
          <td>Acceptance Notification</td>
          <td>August 30, 2019 (11:59 PM UTC)</td>
          <td></td>
        </tr>
        <tr>
          <td>Tutorial Dates</td>
          <td>Monday, Oct. 6, 2019</td>
          <td></td>
        </tr>
        <tr>
          <td>Conference Dates</td>
          <td>Monday, Oct. 7-9, 2019</td>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Problems</h5>
      <p>
      Any questions (include invoice, invitation letter), should be emailed to 
      <a href="mailto:">sosp19@gmail.com</a> </p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
