{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <div class="col-md-12 welcome-middle">
	<h3>Call For Sponsors</h3>
	<h4> Coming Soon</h4>
<!-- 
	<p>
  The ACM Symposium on Operating Systems Principles (SOSP) is the world's 
  premier forum for computer systems software technology, representing 
  activities in both academia and industry. It attracts the leading researchers 
  and luminaries in the field and features the best and brightest of the Ph.D.  
  candidates in computer systems. It is held only once every two years. The next 
  one, SOSP'19, will be held October 27-30, 2019 in Huntsville, Ontario, just 
  north of Toronto, Canada.
	</p>

	<p>
	Industrial support for SOSP has always been instrumental in making SOSP 
	a success each time it is held. We, the organizing committee, are 
	writing to ask your organization to kindly consider being a sponsor for 
	SOSP'21.
	</p>

	<p>
	A number of different sponsorship packages are available.  Some of the 
	packages allow us to provide stipends for students to help cover their 
	travel, lodging, meals, and conference registration.  For example, in 
	2017 roughly 40% of the conference attendees were students, many of 
	whom were supported, in part or in full, by industrial sponsors, and 
	these students are made well aware of the sources of their stipends.  
	Other packages allow us to include events such as receptions and our 
	banquet dinner, during which important connections are established and 
	the research directions at industry labs and academic institutions are 
	explored by the delegates.
	</p>

	<p>
	We expect SOSP'19 to be an exceptional event, and sincerely hope that 
	you will be able to join us as a sponsor. You can find more information 
	at <a 
	   href="http://sigops.org/sosp/sosp19/">http://sigops.org/sosp/sosp19/</a>.  
       For reference, information on previous years' SOSPs can be found at <a 
    href="http://www.sosp.org">http://www.sosp.org/</a>
	</p>

	<p>
	Best Regards,
	</p>

	<p>
	<a href="mailto:brecht@uwaterloo.ca">Tim Brecht</a>,
	University of Waterloo, General Co-Chair<br/>
	<a href="mailto:carey@cpsc.ucalgary.ca">Carey Williamson</a>, 
	University of Calgary, General Co-Chair<br/>
	<a href="mailto:mkarsten@uwaterloo.ca">Martin Karsten</a>,
	University of Waterloo, Treasurer<br/>
	<a href="mailto:ssaroiu@microsoft.com">Stefan Saroiu</a>,
	Microsoft Research, Sponsorship Co-Chair<br/>
	<a href="mailto:michael.stumm@utoronto.ca">Michael Stumm</a>,
	University of Toronto, Sponsorship Co-Chair<br/>
	<a href="mailto:hweather@cs.cornell.edu">Hakim Weatherspoon</a>,
	Cornell University, Sponsorship Co-Chair<br/>
	</p> -->
    </div>
    <div class="clearfix"> </div>
  </div>
{% endblock %}
