{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <div class="col-md-12 welcome-middle">
	<h3>Call For Sponsors</h3>

	<p>
		A number of sponsorship levels are available, as listed further below. Sponsorship allows us to provide stipends for students to help cover their travel, 
		lodging, meals, and conference registration.  For example, in 2019 roughly 47% of the conference attendees were students, many of whom were supported, in part 
		or in full, by industrial sponsors, and these students are made well aware of the sources of their stipends. Sponsorship also supports events such as 
		receptions and our banquet dinner, during which important connections are established and the research directions at industry labs and academic institutions 
		are explored by the delegates.
	</p>

	<p>
		We expect SOSP'21 to be an exceptional event, and sincerely hope that you will be able to join us as a sponsor.  You can find more information in our 
		<a href="call_for_sponsors_sosp21.pdf">sponsorship brochure</a>.

	</p>

	<p>
	Best Regards,
	</p>

	<p>
	<a href="mailto:druschel@mpi-sws.org">Peter Druschel</a>,
	MPI-SWS, General Co-Chair<br/>
	<a href="mailto:antoinek@mpi-sws.org">Antoine Kaufmann</a>, 
	MPI-SWS, General Co-Chair<br/>
	<a href="mailto:keonjang@mpi-sws.org">Keon Jang</a>,
	MPI-SWS, General Co-Chair<br/>
	<a href="mailto:gernot@unsw.edu.au">Gernot Heiser</a>,
	UNSW Sydney, Sponsorship Chair<br/>
	</p>
    </div>
    <div class="clearfix"> </div>
  </div>
{% endblock %}
