{# vim: ts=2:sw=2:expandtab #}
<h5 class="left-h">Important Dates</h5>
<div class="important-dates">
  <h3>Coming Soon</h3>
<!--   <table class="important-dates" align="left">
    <tr>
      <th>Event Info</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>Abstract Submission</td>
      <td>August 14, 2019 (23:59:59 UTC)</td>
    </tr>
    <tr>
      <td>Notification</td>
      <td>August 30, 2019</td>
    </tr>
    <tr>
      <td>Camera-Ready Version</td>
      <td>TBD</td>
    </tr>
  </table> -->
</div>
<div class="clearfix"></div>
