{# vim: ts=2:sw=2:expandtab #}
<h5 class="left-h">Important Dates</h5>
<div class="important-dates">
  <h4>Coming Soon</h4>
<!--   <table class="important-dates" align="left">
    <tr>
      <th>Event Info</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>Applications Due</td>
      <td>July 30, 2019 (11:59 PM Anywhere on Earth)</td>
    </tr>
    <tr>
      <td>Award Notifications (first round)</td>
      <td>August 16, 2019</td>
    </tr>
    <tr>
      <td>Award Notifications (second round)</td>
      <td>September 3, 2019</td>
    </tr>
  </table> -->
</div>
<div class="clearfix"></div>
