{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}          <!--main-text-->
<div class="main-text">
  <div class="welcome">
    <h2>Code of Conduct</h2>

    The open exchange of ideas and the freedom of thought and expression are 
    central to the aims and goals of SIGOPS; these require an environment that 
    recognizes the inherent worth of every person and group, that fosters 
    dignity, understanding, and mutual respect, and that embraces diversity.  
    For these reasons, SIGOPS is dedicated to providing a harassment-free 
    conference experience, and implements the
    <a href="http://www.acm.org/special-interest-groups/volunteer-resources/officers-manual/policy-against-discrimination-and-harassment">ACM Code of Conduct</a>.

    Conference participants violating these standards may be sanctioned or 
    expelled from the conference, at the discretion of the conference 
    organizers.  Conference organizers are requested to report serious 
    incidents to the SIGOPS Chair.
    <div class="clearfix"> </div>
  </div>
{% endblock %}
