{# vim: ts=2:sw=2:expandtab #}
<div class="welcome-middle important-dates col-md-12">
  <h5 class="left-h">Important Dates</h5>
  <table class="important-dates" align="left">

    <tr>
      <th>Event Info</th>
      <th>Date</th>
      <th>Link</th>
    </tr>

  <!--
    {% if showWorkshops %}
    <tr class="redStrike">
      <td>Workshop Proposals Due</td>
      <td>April 17, 2019 (11:59 PM EST)</td>
      <td><a href="/cfw.html">See CFW</a></td>
    </tr>
    <tr class="redStrike">
      <td>Workshop Notification of Acceptance</td>
      <td>April 20, 2019 (11:59 PM EST)</td>
      <td></td>
    </tr>
    <tr class="redStrike">
      <td>Workshop Call For Papers Due</td>
      <td>April 23, 2019 (abstract deadline)<td>
      <td></td>
    </tr>
    {% endif %} -->
    {% if showGeneral %}
    <tr>
      <td><b>Deadline to Register Abstracts</b></td>
      <td>April 30, 2021 (2:59 PM US/Pacific) </td>
      <td><a href="https://sosp21.hotcrp.com/">Submission Site</a></td>
    </tr>
    <tr>
      <td><b>Submission Deadline (No extensions)</b></td>
      <td>May 7, 2021 (2:59 PM US/Pacific)</td>
      <td><a href="https://sosp21.hotcrp.com/">Submission Site</a></td>
    </tr>
    <tr>
      <td><b>Reviews available for author response</b></td>
      <td>July 20, 2021</td>
    </tr>
    <tr>
      <td><b>Author Response due</b></td>
      <td>July 23, 2021 (2:59 PM US/Pacific)</td>
      <td></td>
    </tr>
    <tr>
      <td><b>Acceptance Notification</b></td>
      <td>August 9, 2021</td>
      <td></td>
    </tr>
    <tr>
      <td><b>Camera Ready due</b></td>
      <td>September 27, 2021</td>
      <td></td>
    </tr>
    {% endif %}
    <!--
    <tr class="redStrike">
      <td>Early Registration</td>
      <td>September 15, 2019</td>
      <td><a href="http://www.cvent.com/d/06qwyh">Registration Site</a></td>
    </tr>
    <tr class="redStrike">
      <td><b>Hotel Booking Deadline</b></td>
      <td>Updated: October 6, 2019</td>
      <td>Call Hotel 1-800-461-4393</td>
    </tr>
    <tr class="redStrike">
      <td><b>Regular Registration</b></td>
      <td>October 15, 2019</td>
      <td><a href="http://www.cvent.com/d/06qwyh">Registration Site</a></td>
    </tr>
    <tr>
      <td><b>Late Registration</b></td>
      <td></td>
      <td><a href="http://www.cvent.com/d/06qwyh">Registration Site</a></td>
    </tr>
    -->
    <tr>
      <td><b>Workshops Date</td>
      <td>October 25, 2021</td>
      <td></td>
    </tr>
    <tr>
      <td><b>Conference Dates</b></td>
      <td>October 26-28, 2021</td>
      <td></td>
    </tr> 
  </table> 
</div>
