{# vim: ts=2:sw=2:expandtab #}
<div class="welcome-middle important-dates col-md-12">
  <h5 class="left-h">Important Dates</h5>
  <table class="important-dates" align="left">
    <tr>
      <th>Event Info</th>
      <th>Date</th>
      <th>Link</th>
    </tr>
    {% if showWorkshops %}
    <tr class="redStrike">
      <td>Workshop Proposals Due</td>
      <td>April 17, 2019 (11:59 PM EST)</td>
      <td><a href="/cfw.html">See CFW</a></td>
    </tr>
    <tr class="redStrike">
      <td>Workshop Notification of Acceptance</td>
      <td>April 20, 2019 (11:59 PM EST)</td>
      <td></td>
    </tr>
    <tr class="redStrike">
      <td>Workshop Call For Papers Due</td>
      <td>April 23, 2019 (abstract deadline)<td>
      <td></td>
    </tr>
    {% endif %}
    {% if showGeneral %}
    <tr class="redStrike">
      <td>Deadline to Register Abstracts</td>
      <td>April 17, 2019 (11:59 PM UTC)</td>
      <td><a href="https://sosp19.hotcrp.com/">Submission Site</a></td>
    </tr>
    <tr class="redStrike">
      <td>Submission Deadline (No extensions)</td>
      <td>April 24, 2019 (11:59 PM UTC)</td>
      <td><a href="https://sosp19.hotcrp.com/">Submission Site</a></td>
    </tr>
    <tr class="redStrike">
      <td>Author Response</td>
      <td>July 8-10, 2019</td>
      <td></td>
    </tr>
    <tr class="redStrike">
      <td>Acceptance Notification</td>
      <td>July 22, 2019</td>
      <td></td>
    </tr>
    <tr class="redStrike">
      <td>Camera Ready</td>
      <td>August 30, 2019</td>
      <td></td>
    </tr>
    {% endif %}
    <tr>
      <td><b>Early Registration</b></td>
      <td>September 15, 2019</td>
      <td><a href="http://www.cvent.com/d/06qwyh">Registration Site</a></td>
    </tr>
    <tr>
      <td><b>Hotel Booking Deadline</b></td>
      <td>September 30, 2019</td>
      <td>Call Hotel 1-800-461-4393</td>
    </tr>
    <tr>
      <td><b>Workshops Date</td>
      <td>October 27, 2019</td>
      <td></td>
    </tr>
    <tr>
      <td>Conference Dates</td>
      <td>October 28-30, 2019</td>
      <td></td>
    </tr>
  </table>
</div>
