{# vim: ts=2:sw=2:expandtab #}
<div class="welcome-middle important-dates col-md-12">
  <h5 class="left-h">Fees: Coming Soon</h5>
<!--   <p>
  All fees are in US dollars.
  </p>
  <table class="important-dates" align="left">
    <tr>
      <th>Registration Type</th>
      <th>Workshop Only</th>
      <th>Conference Only</th>
      <th>Both</th>
    </tr>
    <tr>
      <td colspan="4">EARLY (on or before September 15, 2019)</td>
    </tr>
    <tr>
      <td>Member Early</td>
      <td>$250</td>
      <td>$600</td>
      <td>$800</td>
    </tr>
    <tr>
      <td>Non-member Early</td>
      <td>$275</td>
      <td>$700</td>
      <td>$925</td>
    </tr>
    <tr>
      <td>Student Member Early</td>
      <td>$175</td>
      <td>$450</td>
      <td>$575</td>
    </tr>
    <tr>
      <td>Student Non-member Early</td>
      <td>$200</td>
      <td>$500</td>
      <td>$650</td>
    </tr>
    <tr>
      <td colspan="4">REGULAR (after September 15, but before October 15, 2019)</td>
    </tr>
    <tr>
      <td>Member</td>
      <td>$275</td>
      <td>$700</td>
      <td>$925</td>
    </tr>
    <tr>
      <td>Non-member</td>
      <td>$300</td>
      <td>$800</td>
      <td>$1050</td>
    </tr>
    <tr>
      <td>Student Member</td>
      <td>$200</td>
      <td>$500</td>
      <td>$650</td>
    </tr>
    <tr>
      <td>Student Non-member</td>
      <td>$225</td>
      <td>$550</td>
      <td>$725</td>
    </tr>
    <tr>
      <td>LATE/ONSITE (after October 15, 2019)</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Member Late</td>
      <td>$300</td>
      <td>$800</td>
      <td>$1050</td>
    </tr>
    <tr>
      <td>Non-member Late</td>
      <td>$325</td>
      <td>$900</td>
      <td>$1175</td>
    </tr>
    <tr>
      <td>Student Member Late</td>
      <td>$225</td>
      <td>$550</td>
      <td>$725</td>
    </tr>
    <tr>
      <td>Student Non-member Late</td>
      <td>$250</td>
      <td>$600</td>
      <td>$800</td>
    </tr>
  </table> -->
</div>
