{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Camera-Ready Submission Instructions</h3>

    <div class="col-md-12 welcome-middle">
      <h5>Submission</h5>
      <p>
      The camera-ready version of your paper should be submitted via HotCRP.  This 
      will include all your sources and the generated PDF.
      </p>
    
      <h5>Formatting</h5>
      <p>
      Submissions may have at most 12 pages of technical content, including all 
      text, figures, tables, appendices, etc. Bibliographic references are not 
      included in the 12-page limit. Use A4 or US letter paper size, with all text 
      and figures fitting inside a 178 x 229 mm (7 x 9 in) block centered on the 
      page, using two columns separated by 8 mm (0.33) of whitespace. Use 10-point 
      font (typeface Times Roman, Linux Libertine, etc.) on 12-point 
      (single-spaced) leading. Graphs and figures should be readable when printed 
      in grayscale, without magnification. Do not number pages. References within 
      the paper should be hyperlinked.
      </p>
    
      <p>
      Most of these rules are automatically applied when using the official SIGPLAN   
      Latex or MS Word templates from the ACM.
      </p>
    
      <p>Please follow the ACM guidelines regarding fonts as described in:
      <a href="https://www.acm.org/publications/gi-proceedings">
        http://www.acm.org/publications/gi-proceedings part 7e
      </a>
      </p>
    
      <p>
      In particular, papers should have Type 1 fonts (scalable), not Type 3 
      (bit-mapped). All fonts MUST be embedded within the PDF file.
      </p>
    
      <p>
      Authors should make sure to use the ACM classification system. For details 
      see
      <a href="https://dl.acm.org/ccs/ccs.cfm">https://dl.acm.org/ccs/ccs.cfm</a>
      and instructions in the .tex file.
      </p>
    
      <p>
      Be sure that there are no bad page or column breaks, meaning no widows (last 
      line of a paragraph at the top of a column). Section and Sub-section heads 
      should remain with at least 2 lines of body text when near the end of a page 
      or column.
      </p>
    
      <h5>Copyright Block</h5>
    
      <p>
      In its bottom-left corner, the first page of the final paper must include a 
      copyright notice.
      </p>
    
      <p>
      Author will receive the relevant copyright information after they have filled 
      out the e-Rights form via the ACM rights-management tool on the HotCRP page 
      of the paper.
      </p>
    
      <p>
      ACM will use its automated system to email this information to the authors.  
      Please set your email spam settings to allow messages from 
      "rightsreview@acm.org". The copyright block includes the DOI specific to the 
      paper, rights-management text that depends on the author's choice of a 
      license or copyright transfer, the official name, dates, and location of the 
      event.
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Questions</h5>
      <p>
      Any questions about paper submissions can be emailed to
      <a href="mailto:sosp2019@gmail.com">sosp2019@gmail.com</a>.
      </p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
