{# vim: ts=2:sw=2:expandtab #}
{% extends "base.html" %}
{% block jumbotron %}
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Systems and Networking</h1>
          <h2>@ University of Waterloo</h2>
        </div>
      </div>
{% endblock %}

{% block content %}
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-8">
            {{ indextext }}
          </div>
        </div>
        <hr>
      </div> <!-- /container -->
{% endblock %}
