{# vim: ts=1:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Welcome to the SOSP 2021 Website</h3>

    <div class="col-md-12 welcome-middle">
      <p>
      The biennial ACM Symposium on Operating Systems Principles is the world's
      premier forum for researchers, developers, programmers, and teachers of computer
      systems technology. Academic and industrial participants present research and
      experience papers that cover the full range of theory and practice of computer
      systems software.
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5>News</h5>      <ul>
        <li>October 9th, 2020: Website is Live!</li>
      </ul>
    </div>

    {% set showWorkshops = True %}
    {% set showGeneral = True %}
    {% include "dates.html" %}

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Problems</h5>
      <p>
      Any organizational questions about the conference can be emailed to 
      <a href="mailto:sosp21-chairs@mpi-sws.org">sosp21-chairs@mpi-sws.org</a>.
      The programm committee chairs can be reached at <a href="mailto:sosp21-pc-chairs@mpi-sws.org">sosp21-pc-chairs@mpi-sws.org</a>.
    </p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
