{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Welcome to the SOSP 2019 Website</h3>

    <div class="col-md-12 welcome-middle">
      <p>
      The biennial ACM Symposium on Operating Systems Principles is the world's
      premier forum for researchers, developers, programmers, and teachers of computer
      systems technology. Academic and industrial participants present research and
      experience papers that cover the full range of theory and practice of computer
      systems software.
      </p>
    </div>

    <div class="col-md-12">
      <h5>News</h5>
      <ul>
        <li>July 24: We are pleased to announce that SOSP will have an artifact 
          evaluation option for all papers.  Please see the
          <a href="https://sysartifacts.github.io/">sysartifacts</a> github 
          page for more details.</li>
	<li>July 20: We are pleased to announce that SOSP will be launching a 
	    new mentoring scheme for PhD students this year. Junior PhD 
	    students will be matched to more senior colleagues (grad students, 
	    postdocs, faculty, or researchers) and have the opportunity to meet 
	    during the conference. Please click
	    <a href="mentoring.html">here</a> to sign up and find out 
	    more.</li>
	<li>July 20: Child care forms are now available</li>
	<li>June 29: Calls for the student scholarships and student research 
	    competition are up</li>
        <li>June 11: Registration is now open</li>
        <li>May 30: AI, PLOS, SysTEX, and Diversity workshops will be colocated 
          with SOSP</li>
	<li>May 1: A total of 279 papers have been submitted.  Thanks to all of 
	    the authors for submitting and good luck.
        <li>April 4: Call for workshops has been pushed back by a week</li>
        <li>March 28: Registration will be open sometime early June</li>  
        <li>March 8: Formatting instructions have been updated</li>
        <li>March 1: Paper submission site is open</li>
      </ul>
    </div>

    {% set showWorkshops = True %}
    {% set showGeneral = True %}
    {% include "dates.html" %}

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Problems</h5>
      <p>
      Any questions about the conference can be emailed to
      <a href="mailto:sosp2019@gmail.com">sosp2019@gmail.com</a> </p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
