{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <div class="col-md-12 welcome-middle">
      <h3>Mentoring</h3>

      <p>
      </p>The SOSP mentoring scheme is designed to facilitate the integration 
      of new PhD students into the system community. We will match PhD students 
      to postdoctoral research associates or faculty members and researchers in 
      their research area of interest. All PhD students/SOSP newcomers are 
      welcome but preference will be given to junior students if there are too 
      few mentors.
      </p>

      <p>
      The expectation is that the mentor and mentee will meet at some point 
      during the conference (e.g., over lunch or at another convenient time).  
      The hope is that this will give students the opportunity to discuss their 
      research with experts in their field, while also make it easier for them 
      to approach and meet other researchers.  Mentors, we look forward to your 
      help in making this a success and welcoming newcomers to SOSP. Mentees, 
      we encourage you to reach out and take this opportunity to discuss and 
      meet new colleagues!
      </p>

      <p>
      We are very grateful for your help in contributing to make SOSP an 
      inclusive and welcoming community. Please contact
      <a href="mailto:ncrooks@cs.utexas.edu">Natacha Crooks</a> or
      <a href="mailto:malte@csail.mit.edu">Malte Schwarzkopf</a> with any 
      questions.
      </p>

      <p>
      The deadlinefor signing up is October 15th. We expect to email mentors 
      and mentees with their match(es) a few days before the conference.
      </p>

      <p>
      <b>Mentor Sign up</b>:  https://tinyurl.com/sosp2019mentors
      <br/>
      <b>Mentee Sign up</b>:  https://tinyurl.com/sosp2019mentees
      </p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
