{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}          <!--main-text-->
<div class="main-text">
  <div class="welcome">
    <h2>28th ACM Symposium on Operating Systems Principles Organizers</h2>
<!--     
    
    <table id=organizers >
      <tr>
        <td class=organizers-office> General Chairs</td>
        <td class=organizers-bearer> <a href="https://cs.uwaterloo.ca/~brecht/">Tim Brecht</a>, University of Waterloo</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://pages.cpsc.ucalgary.ca/~carey/">Carey Williamson</a>, University of Calgary</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> PC Chairs</td>
        <td class=organizers-bearer> <a href="http://pages.cs.wisc.edu/~remzi/">Remzi H. Arpaci-Dusseau</a>, University of Wisconsin</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://cseweb.ucsd.edu/~yyzhou/">Yuanyuan Zhou</a>, University of California San Diego</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Treasurer </td>
        <td class=organizers-bearer> <a href="https://cs.uwaterloo.ca/~mkarsten/">Martin Karsten</a>, University of Waterloo</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Sponsorship Co-Chairs </td>
        <td class=organizers-bearer> <a href="http://www.eecg.toronto.edu/~stumm/">Michael Stumm</a>, University of Toronto</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> <a href="http://ssaroiu.azurewebsites.net">Stefan Saroiu</a>, Microsoft Research </td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> <a href="http://www.cs.cornell.edu/~hweather/">Hakim Weatherspoon</a>, Cornell University </td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Web Chair </td>
        <td class=organizers-bearer> <a href="https://cs.uwaterloo.ca/~mashti/">Ali Mashtizadeh</a>, University of Waterloo</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Publicity Chair </td>
        <td class=organizers-bearer> <a href="https://cs.uwaterloo.ca/~alkiswan/">Samer Al-Kiswany</a>, University of Waterloo</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Local Arrangements Co-Chairs </td>
        <td class=organizers-bearer> <a href="https://cs.uwaterloo.ca/~bernard/">Bernard Wong</a>, University of Waterloo</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="http://www.eecg.toronto.edu/~yuan/Home.html">Ding Yuan</a>, University of Toronto</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Proceedings Chair </td>
        <td class=organizers-bearer> <a href="http://www.eecg.toronto.edu/~ashvin/">Ashvin Goel</a>, University of Toronto</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
	<td class=organizers-office> Workshop Chair </td>
	<td class=organizers-bearer> <a href="http://www.cs.toronto.edu/~bianca/">Bianca Schroeder</a>, University of Toronto</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Student Scholarship Chair </td>
        <td class=organizers-bearer> <a href="https://ece.uwaterloo.ca/~lintan/">Lin Tan</a>, Purdue University</td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
	<td class=organizers-office> Student Research Competition </td>
	<td class=organizers-bearer> <a href="http://www.cs.toronto.edu/~demke/">Angela Demke Brown</a>, University of Toronto</td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> <a href="https://people.clarkson.edu/~jmatthew/">Jeanna Matthews</a>, Clarkson University </td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      {{ pcorganizers }}
    </table> -->
    <div class="clearfix"> </div>
  </div>
{% endblock %}
