{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}          <!--main-text-->
<div class="main-text">
  <div class="welcome">
    <h2>26th ACM Symposium on Operating Systems Principles Organizers</h2>

    <!-- Organizers -->
    <table id=organizers >
      <tr>
        <td class=organizers-office> General Chairs</td>
        <td class=organizers-bearer> Tim Brecht, University of Waterloo </td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> Carey Williamson, University of Calgary </td>
      </tr>
      <tr>
        <td class=organizers-office> PC Chairs</td>
        <td class=organizers-bearer> Remzi H. Arpaci-Dusseau, Univeristy of Wisconsin</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> Yuanyuan Zhou, University of California San Diego</td>
      </tr>
      <tr>
        <td class=organizers-office> Treasurer </td>
        <td class=organizers-bearer> Martin Karsten, University of Waterloo</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Sponsorship Co-Chairs </td>
        <td class=organizers-bearer> Michael Stumm, University of Toronto </td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> Terence P. Kelly </td>
      </tr>
      <tr>
        <td class=organizers-office> Web Chair </td>
        <td class=organizers-bearer> Ali Mashtizadeh, University of Waterloo </td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Publicity Chair </td>
        <td class=organizers-bearer> Samer Al-Kiswany, University of Waterloo </td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Local Arrangements Co-Chairs </td>
        <td class=organizers-bearer> Bernard Wong, University of Waterloo </td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> Ding Yuan, University of Toronto </td>
      </tr>
      <tr>
        <td class=organizers-office> Proceedings Chair </td>
        <td class=organizers-bearer> Ashvin Goel, University of Toronto </td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Student Scholarship Chair </td>
        <td class=organizers-bearer> Lin Tan, University of Waterloo </td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
    </table>
    <div class="clearfix"> </div>
  </div>
{% endblock %}
