{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}          <!--main-text-->
<div class="main-text">
  <div class="welcome">
    <h2>28th ACM Symposium on Operating Systems Principles Organizers</h2>
     
    
    <table id=organizers >
      <tr>
        <td class=organizers-office> General Chairs</td>
        <td class=organizers-bearer> <a href="https://people.mpi-sws.org/~druschel/">Peter Druschel</a>, Max Planck Institue for Software-Systems (MPI-SWS)</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://people.mpi-sws.org/~antoinek/">Antoine Kaufmann</a>, Max Planck Institue for Software-Systems (MPI-SWS)</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="http://keonjang.github.io/">Keon Jang</a>, Max Planck Institue for Software-Systems (MPI-SWS)</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> PC Chairs</td>
        <td class=organizers-bearer> <a href="https://www.cs.cornell.edu/home/rvr/">Robert van Renesse</a>, Cornell University</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://people.csail.mit.edu/nickolai/">Nickolai Zeldovich</a>, MIT</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Sponsorship Co-Chairs </td>
        <td class=organizers-bearer> <a href="https://www.cse.unsw.edu.au/~gernot/">Gernot Heiser</a>, UNSW, Data61</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Web Chair </td>
        <td class=organizers-bearer> <a href="https://people.mpi-sws.org/~jcmace/">Jonathan Mace</a>, Max Planck Institue for Software-Systems (MPI-SWS)</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Publicity Chair </td>
        <td class=organizers-bearer> <a href="https://www.cs.purdue.edu/homes/pfonseca/">Pedro Fonseca </a>, Purdue University</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Poster Chairs </td>
        <td class=organizers-bearer> <a href="https://cs.uwaterloo.ca/~bernard/">Malte Schwarzkopf</a>, Brown University</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://anakli.inf.ethz.ch/">Ana Klimovic</a>, ETH Zurich, Google Brain</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Proceedings Chair </td>
        <td class=organizers-bearer> <a href="https://people.mpi-sws.org/~rodrigo/">Rodrigo Rodrigues</a>, IST Portugal</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://www.gsd.inesc-id.pt/~lveiga/">Luis Antunes Veiga</a>, IST Portugal</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
	<td class=organizers-office> Workshop Chair </td>
	<td class=organizers-bearer> <a href="https://web.eecs.umich.edu/~manosk/">Manos Kapristos</a>, University of Michigan</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
        <td class=organizers-office> Student Scholarship Chair </td>
        <td class=organizers-bearer> <a href="https://nacrooks.github.io/">Natacha Crooks</a>, UC Berkeley</td>
      </tr>
      <tr>
        <td class=organizers-office> &nbsp; </td>
        <td class=organizers-bearer> <a href="https://www.cis.upenn.edu/~sga001/">Sebastian Angel</a>, University of Pennsylvania </td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      <tr>
	<td class=organizers-office> Student Research Competition </td>
	<td class=organizers-bearer> <a href="https://people.eecs.berkeley.edu/~apanda/">Aurojit Panda</a>, NYU</td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> <a href="https://web.eecs.umich.edu/~barisk/">Baris Kasikci</a>, University of Michigan </td>
      </tr>
      <tr>
	<td class=organizers-office> &nbsp; </td>
	<td class=organizers-bearer> &nbsp; </td>
      </tr>
      <!--{{ pcorganizers }}-->
    </table> 
    <div class="clearfix"> </div>
  </div>
{% endblock %}
