{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>SOSP 2019 Preliminary Schedule</h3>
    <div class="col-md-12">
      <p align="center">
      <img class="icon-paper" src="images/icon-paper.png"></img> Paper PDF &nbsp;&nbsp;
      <img class="icon-slide" src="images/icon-slide.png"></img> Talk Slides &nbsp;&nbsp;
      <img class="icon-video" src="images/icon-video.png"></img> Talk Video &nbsp;&nbsp;
      <img class="icon-links" src="images/icon-links.png"></img> Audience Questions &nbsp;&nbsp;
      <img class="icon-links" src="images/icon-answer.png"></img> Author Responses
      </p>
    </div>
    <div class="col-md-12">
    <h2 class="left-h">Monday, October 28, 2019</h2>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="success">
        <td><strong>Breakfast</strong>
          <span class="pull-right"><i>7:30 AM - 8:45 AM</i></span>
        </td></tr>
      <tr><td></td></tr>
      <tr class="success">
        <td><strong>Welcome and awards</strong>
          <span class="pull-right"><i>8:45 AM - 9:00 AM</i></span>
        </td></tr>
      <tr><td>
      <span class="pull-right">
       <!--
       <a href="https://dl.acm.org/ft_gateway.cfm?id=3132785&ftid=1913904"><img class="icon-paper" src="images/icon-paper.png"></img></a>
       <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
       <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
       <a href="https://app.sli.do/event/l6dfcagi/ask"><img class="icon-links" src="images/icon-links.png"></img></a>
       -->
       </span>
       <strong><a href="javascript:void(0);">Welcome</a></strong>
      </td></tr>
      <tr>
        <td>General Chairs: Tim Brecht (University of Waterloo) and Carey 
          Williamson (University of Calgary)<br/>
          PC Chairs: Remzi H. Arpaci-Dusseau (University of Wisconsin) and 
          Yuanyuan Zhou (University of Calfornia San Diego)
        </td></tr>

      <tr class="info"><td><strong>Session 1: Machines, Learning</strong>
          <span class="pull-right"><i>9:00 AM - 10:20 AM</i></span>
      </td></tr>
      <!-- template 
      <tr><td>
              <span class="pull-right">
              <a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>
              </span>
              <span class="badge badge-info pull-right">Best Paper</span>
              <strong><a href="Paper acm page">Paper Title</a></strong>
      </td></tr>
      <tr><td>Author1, Author2, ...</td></tr>
      -->
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">PipeDream: Generalized Pipeline Parallelism for DNN Training
</a></strong>
          </td></tr>
          <tr><td>Deepak Narayanan (Stanford University), Aaron Harlap (Carnegie Mellon University), Amar Phanishayee (Microsoft Research), Vivek Seshadri (Microsoft Research), Nikhil R. Devanur (Microsoft Research), Gregory R. Ganger (CMU), Phillip B. Gibbons (Carnegie Mellon University), Matei Zaharia (Stanford University)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">A Generic Communication Scheduler for Distributed DNN Training Acceleration
</a></strong>
          </td></tr>
          <tr><td>Yanghua Peng (The University of Hong Kong), Yibo Zhu (ByteDance Inc.), Yangrui Chen (The University of Hong Kong), Yixin Bao (The University of Hong Kong), Bairen Yi (ByteDance Inc.), Chang Lan (ByteDance Inc.), Chuan Wu (The University of Hong Kong), Chuanxiong Guo (ByteDance Inc.)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Parity Models: Erasure-Coded Resilience for Prediction Serving Systems
</a></strong>
          </td></tr>
          <tr><td>Jack Kosaian (Carnegie Mellon University), K. V. Rashmi (Carnegie Mellon University), Shivaram Venkataraman (University of Wisconsin-Madison)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">TASO: Optimizing Deep Learning Computation with Automated Generation of Graph Substitutions
</a></strong>
          </td></tr>
          <tr><td>Zhihao Jia (Stanford University), Oded Padon (Stanford University), James Thomas (Stanford University), Todd Warszawski (Stanford University), Matei Zaharia (Stanford University), Alex Aiken (Stanford Univeristy)
</td></tr>
      
      <tr class="success"><td><strong>Break</strong>
          <span class="pull-right"><i>10:20 AM - 10:50 AM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Session 2: It Must Be Secure</strong>
          <span class="pull-right"><i>10:50 AM - 11:50 AM</i></span>
      </td></tr>

          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Teechain: A Secure Payment Network with Asynchronous Blockchain Access
</a></strong>
          </td></tr>
          <tr><td>Joshua Lind (Imperial College London), Oded Naor (Technion), Ittay Eyal (Technion), Florian Kelbert (Imperial College London), Emin Gun Sirer (Cornell University), Peter Pietzuch (Imperial College London)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Fast and Secure Global Payments with Stellar
</a></strong>
          </td></tr>
          <tr><td>Marta Lokhava (Stellar), Giuliano Losa (Galois), David Mazieres (Stanford), Graydon Hoare (Stellar), Nicolas Barry (Stellar), Eliezer Gafni (UCLA), Jonathan Jove (Stellar), Rafa?? Malinowski (Stellar), Jed McCaleb (Stellar)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Notary: A Device for Secure Transaction Approval
</a></strong>
          </td></tr>
          <tr><td>Anish Athalye (MIT CSAIL), Adam Belay (MIT CSAIL), Frans Kaashoek (MIT CSAIL), Robert Morris (MIT CSAIL), Nickolai Zeldovich (MIT CSAIL), 
</td></tr>

      <tr class="success"><td><strong>Lunch</strong>
          <span class="pull-right"><i>11:50 AM - 1:40 PM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Session 3: Systems: Still Buggy</strong>
          <span class="pull-right"><i>1:40 PM - 3:00 PM</i></span>
      </td></tr>

          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">CrashTuner: Detecting Crash Recovery Bugs in Cloud Systems via Meta-info Analysis
</a></strong>
          </td></tr>
          <tr><td>Jie Lu (The Institute of Computing Technology of the Chinese Academy of Sciences), Chen Liu (The Institute of Computing Technology of the Chinese Academy of Sciences), Lian Li (The Institute of Computing Technology of the Chinese Academy of Sciences), Xiaobing Feng (The Institute of Computing Technology of the Chinese Academy of Sciences), Feng Tan (Alibaba Group), Jun Yang (Alibaba Group), Liang You (Alibaba Group)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">The Inflection Point Hypothesis: A Principled Debugging Approach for Locating the Root Cause of a Failure
</a></strong>
          </td></tr>
          <tr><td>Yongle Zhang (University of Toronto), Kirk Rodrigues (University of Toronto), Yu Luo (University of Toronto), Michael Stumm (University of Toronto), Ding Yuan (University of Toronto)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Finding Semantic Bugs in File Systems with an Extensible Fuzzing Framework
</a></strong>
          </td></tr>
          <tr><td>Seulbae Kim (Georgia Institute of Technology), Meng Xu (Georgia Institute of Technology), Sanidhya Kashyap (Georgia Institute of Technology), Jungyeon Yoon (Georgia Institute of Technology), Wen Xu (Georgia Institute of Technology), Taesoo Kim (Georgia Institute of Technology)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Efficient and Scalable Thread-Safety Violation Detection --- Finding thousands of concurrency bugs during testing
</a></strong>
          </td></tr>
          <tr><td>Guangpu Li (University of Chicago), Shan Lu (University of Chicago), Madanlal Musuvathi (Microsoft Research), Suman Nath (Microsoft Research), Rohan Padhye (Berkeley)
</td></tr>

      <tr class="success"><td><strong>Break</strong>
          <span class="pull-right"><i>3:00 PM - 3:30 PM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Session 4: Keeping Things Private</strong>
          <span class="pull-right"><i>3:30 PM - 4:30 PM</i></span>
      </td></tr>

          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Privacy Accounting and Quality Control in the Sage Differentially Private ML Platform
</a></strong>
          </td></tr>
          <tr><td>Mathias Lecuyer (Columbia University), Riley Spahn (Columbia University), Kiran Vodrahalli (Columbia University), Roxana Geambasu (Columbia University), Daniel Hsu (Columbia University)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Honeycrisp: Large-scale Differentially Private Aggregation Without a Trusted Core
</a></strong>
          </td></tr>
          <tr><td>Edo Roth (University of Pennsylvania), Daniel Noble (University of Pennsylvania), Brett Hemenway Falk (University of Pennsylvania), Andreas Haeberlen (University of Pennsylvania)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Yodel: Strong Metadata Security for Voice Calls
</a></strong>
          </td></tr>
          <tr><td>David Lazar (MIT CSAIL), Yossi Gilad (MIT CSAIL), Nickolai Zeldovich (MIT CSAIL)
</td></tr>

      <tr class="success"><td><strong>Student Research Competition Poster Session</strong>
          <span class="pull-right"><i>5:00 PM - 7:30 PM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="success"><td><strong>Conference Papers Poster Session</strong>
          <span class="pull-right"><i>5:00 PM - 7:30 PM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="success"><td><strong>Cocktails and Reception (Dinner)</strong>
          <span class="pull-right"><i>5:00 PM - 7:30 PM</i></span>
      </td></tr>
    </table>

    <h2 class="left-h">Tuesday, October 29, 2019</h2>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="success">
        <td><strong>Breakfast</strong>
          <span class="pull-right"><i>7:30 AM - 8:45 AM</i></span>
        </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Session 5: It Must Be Correct</strong>
          <span class="pull-right"><i>9:00 AM - 10:20 AM</i></span>
      </td></tr>

          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Scaling Symbolic Evaluation for Automated Verification of Systems Code with Serval
</a></strong>
          </td></tr>
          <tr><td>Luke Nelson (University of Washington), James Bornholt (University of Washington), Ronghui Gu (Columbia University), Andrew Baumann (Microsoft Research), Emina Torlak (University of Washington), Xi Wang (University of Washington)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Verifying Concurrent, Crash-safe Systems with Perennial
</a></strong>
          </td></tr>
          <tr><td>Tej Chajed (MIT CSAIL), Joseph Tassarotti (MIT CSAIL), Frans Kaashoek (MIT CSAIL), Nickolai Zeldovich (MIT CSAIL)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Using Concurrent Relational Logic with Helpers for Verifying the AtomFS File System
</a></strong>
          </td></tr>
          <tr><td>Mo Zou (Shanghai Jiao Tong University), Haoran Ding (Shanghai Jiao Tong University), Dong Du (Shanghai Jiao Tong University), Ming Fu (Huawei Technologies Co. Ltd), Ronghui Gu (Columbia University), Haibo Chen (Shanghai Jiao Tong University)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Verifying Software Network Functions with No Verification Expertise
</a></strong>
          </td></tr>
          <tr><td>Arseniy Zaostrovnykh (EPFL), Solal Pirelli (EPFL), Rishabh Iyer (EPFL), Matteo Rizzo (EPFL), Luis Pedrosa (EPFL), Katerina Argyraki (EPFL), George Candea (EPFL)
</td></tr>

      <tr class="success"><td><strong>Break</strong>
          <span class="pull-right"><i>10:20 AM - 10:50 AM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Session 6: Data, Data, Everywhere</strong>
          <span class="pull-right"><i>10:50 AM - 11:50 AM</i></span>
      </td></tr>

          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Optimizing Data-Intensive Computations in Existing Libraries with Split Annotations
</a></strong>
          </td></tr>
          <tr><td>Shoumik Palkar (Stanford University), Matei Zaharia (Stanford University), 
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Niijima: Sound and Automated Computation Consolidation for Efficient Multilingual Data-Parallel Pipelines
</a></strong>
          </td></tr>
          <tr><td>Guoqing Harry Xu (UCLA), Margus Veanes (Microsoft Research), Michael Barnett (Microsoft Research), Madan Musuvathi (Microsoft Research), Todd Mytkowicz (Microsoft Research), Ben Zorn (Microsoft Research), Huan He (Microsoft), Haibo Lin (Microsoft)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Nexus: A GPU Cluster Engine for Accelerating DNN-Based Video Analysis
</a></strong>
          </td></tr>
          <tr><td>Haichen Shen (University of Washington), Lequn Chen (University of Washington), Yuchen Jin (University of Washington), Liangyu Zhao (University of Washington), Bingyu Kong (Shanghai Jiao Tong University), Matthai Philipose (Microsoft Research), Arvind Krishnamurthy (University of Washington), Ravi Sundaram (Northeastern University)
</td></tr>

      <tr class="success"><td><strong>Lunch</strong>
          <span class="pull-right"><i>11:50 AM - 1:40 PM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Session 7: The Revolution Will Be Distributed</strong>
          <span class="pull-right"><i>1:40 PM - 3:00 PM</i></span>
      </td></tr>

          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Lineage Stash: Fault Tolerance Off the Critical Path
</a></strong>
          </td></tr>
          <tr><td>Stephanie Wang (UC Berkeley), John Liagouris (ETH Zurich), Robert Nishihara (UC Berkeley), Philipp Moritz (UC Berkeley), Ujval Misra (Dropbox), Alexey Tumanov (UC Berkeley), Ion Stoica (UC Berkeley)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">File Systems Unfit as Distributed Storage Backends: Lessons from 10 Years of Ceph Evolution
</a></strong>
          </td></tr>
          <tr><td>Abutalib Aghayev (Carnegie Mellon University), Sage Weil (Red Hat Inc.), Michael Kuchnik (Carnegie Mellon University), Mark Nelson (Red Hat Inc.), Gregory R. Ganger (Carnegie Mellon University), George Amvrosiadis (Carnegie Mellon University)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">I4: Incremental Inference of Inductive Invariants for Verification of Distributed Protocols
</a></strong>
          </td></tr>
          <tr><td>Haojun Ma (University of Michigan), Aman Goel (University of Michigan), Jean-Baptiste Jeannin (University of Michigan), Manos Kapritsos (University of Michigan), Baris Kasikci (University of Michigan), Karem A. Sakallah (University of Michigan)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Aegean: Replication Beyond the Client-Server Model
</a></strong>
          </td></tr>
          <tr><td>Remzi Can Aksoy (University of Michigan), Manos Kapritsos (University of Michigan)
</td></tr>

      <tr class="success"><td><strong>Break</strong>
          <span class="pull-right"><i>3:00 PM - 3:30 PM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Session 7: Net Work</strong>
          <span class="pull-right"><i>3:30 PM - 4:30 PM</i></span>
      </td></tr>

          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Snap: a Microkernel-Inspired Approach to Host Networking
</a></strong>
          </td></tr>
          <tr><td>Michael Marty (Google), Marc de Kruijf (Google), Christopher Alfeld (Google), William C. Evans (Google), Nick Kidd (Google), Xi Wang (Google), Paul Turner (Google), Kevin Springborn (Google), Lena Olson (Google), Nandita Dukkipati (Google), Roman Kononov (Google), Michael Dalton (Google), Emily Musick (Google), Jacob Adriaens (Google), Gautam Kumar (Google), Valas Valancius (Google), Erik Rubow (Google), Amin Vahdat (Google)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Risk-based planning for evolving data-center networks
</a></strong>
          </td></tr>
          <tr><td>Omid Alipourfard (Yale University), Jiaqi Gao (Harvard University), Jeremie Koenig (Yale University), Chris Harshaw (Yale University), Amin Vahdat (Google), Minlan Yu (Harvard University)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Taiji: Managing Global User Traffic for Large-Scale Internet Services at the Edge
</a></strong>
          </td></tr>
          <tr><td>David Chou (Facebook), Tianyin Xu (UIUC), Kaushik Veeraraghavan (Facebook), Andrew Newell (Facebook), Sonia Margulis (Facebook), Lin Xiao (Facebook), Pol Mauri Ruiz (Facebook), Justin Meza (Facebook), Kiryong Ha (Facebook), Shruti Padmanabha (Facebook), Kevin Cole (Facebook), Dmitri Perelman (Facebook)
</td></tr>

      <tr class="success"><td><strong>Student Research Competition Presentations</strong>
          <span class="pull-right"><i>5:00 PM - 6:30 PM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Banquet and Awards</strong>
          <span class="pull-right"><i>7:00 PM - 9:00 PM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>ACM SIGOPS Business Meeting</strong>
          <span class="pull-right"><i>9:00 PM - 10:00 PM</i></span>
      </td></tr>
    </table>

    <h2 class="left-h">Wednesday, October 30, 2019</h2>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="success">
        <td><strong>Breakfast</strong>
          <span class="pull-right"><i>7:30 AM - 9:00 AM</i></span>
        </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Session 8: The Persistence Of Memory</strong>
          <span class="pull-right"><i>9:00 AM - 10:20 AM</i></span>
      </td></tr>

          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">KVell: the Design and Implementation of a Fast Persistent Key-Value Store
</a></strong>
          </td></tr>
          <tr><td>Baptiste Lepers (University of Sydney), Oana Balmau (University of Sydney), Karan Gupta (Nutanix Inc.), Willy Zwaenepoel (University of Sydney and EPFL)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">RECIPE: Converting Concurrent DRAM Indexes to Persistent-Memory Indexes
</a></strong>
          </td></tr>
          <tr><td>Se Kwon Lee (University of Texas at Austin), Jayashree Mohan (University of Texas at Austin), Sanidhya Kashyap (Georgia Tech), Taesoo Kim (Georgia Tech), Vijay Chidambaram (University of Texas at Austin and VMware Research)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Performance and Protection in the ZoFS User-space NVM File System
</a></strong>
          </td></tr>
          <tr><td>Mingkai Dong (Shanghai Jiao Tong University), Heng Bu (Shanghai Jiao Tong University), Jifei Yi (Shanghai Jiao Tong University), Benchao Dong (Shanghai Jiao Tong University), Haibo Chen (Shanghai Jiao Tong University)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">SplitFS: Reducing Software Overhead in File Systems for Persistent Memory
</a></strong>
          </td></tr>
          <tr><td>Rohan Kadekodi (University of Texas at Austin), Se Kwon Lee (University of Texas at Austin), Sanidhya Kashyap (Georgia Tech), Taesoo Kim (Georgia Tech), Aasheesh Kolli (Penn State University and VMware Research), Vijay Chidambaram (Texas)
</td></tr>

      <tr class="success"><td><strong>Break</strong>
          <span class="pull-right"><i>10:20 AM - 10:50 AM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Session 9: Making Things Faster</strong>
          <span class="pull-right"><i>10:50 AM - 11:50 AM</i></span>
      </td></tr>

          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">AutoMine: Harmonizing High-Level Abstraction and High Performance for Graph Mining
</a></strong>
          </td></tr>
          <tr><td>Daniel Mawhirter (Colorado School of Mines), Bo Wu (Colorado School of Mines)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">KnightKing: A Fast Distributed Graph Random Walk Engine
</a></strong>
          </td></tr>
          <tr><td>Ke Yang (Tsinghua University), MingXing Zhang (Tsinghua University), Kang Chen (Tsinghua University), Xiaosong Ma (QCRI), Yang Bai (4Paradigm Co. Ltd.), Yong Jiang (Tsinghua University)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Generuk: Thin Computation over Big Native Data Using Speculative Program Transformation
</a></strong>
          </td></tr>
          <tr><td>Christian Navasca (UCLA), Cheng Cai (UCLA), Khanh Nguyen (UCLA), Brian Demsky (UC Irvine), Shan Lu (University of Chicago), Miryung Kim (UCLA), Guoqing Harry Xu (UCLA)
</td></tr>

      <tr class="success"><td><strong>Lunch</strong>
          <span class="pull-right"><i>11:50 AM - 1:40 PM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Session 10: The Final Session</strong>
          <span class="pull-right"><i>1:40 PM - 2:40 PM</i></span>
      </td></tr>

          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">An Analysis of Performance Evolution of Linux's Core Operations
</a></strong>
          </td></tr>
          <tr><td>Xiang (Jenny) Ren (The University of Toronto), Kirk Rodrigues (The University of Toronto), Luyuan Chen (The University of Toronto), Camilo Vega (The University of Toronto), Michael Stumm (The University of Toronto), Ding Yuan (The University of Toronto)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">ShortCut: Accelerating Mostly-Deterministic Code Regions
</a></strong>
          </td></tr>
          <tr><td>Xianzheng Dou (University of Michigan), Peter M. Chen (University of Michigan), Jason Flinn (University of Michigan)
</td></tr>
          <tr><td>
            <span class="pull-right">
              <!--<a href="#"><img class="icon-paper" src="images/icon-paper.png"></img></a>
              <a href="#"><img class="icon-slide" src="images/icon-slide.png"></img></a>
              <a href="#"><img class="icon-video" src="images/icon-video.png"></img></a>
              <a href="#"><img class="icon-minutes" src="images/icon-minutes.png"></img></a>
              <a href="#"><img class="icon-links" src="images/icon-links.png"></img></a>
              <a href="#"><img class="icon-answer" src="images/icon-answer.png"></img></a>-->
            </span>
            <strong><a href="">Scalable and Practical Locking with Shuffling
</a></strong>
          </td></tr>
          <tr><td>Sanidhya Kashyap (Georgia Tech), Irina Calciu (VMware Research Group), Xiaohe Cheng (Hong Kong University of Science and Technology), Changwoo Min (Virginia Tech), Taesoo Kim (Georgia Institute of Technology)
</td></tr>
    </table>
    </div>
    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Problems</h5>
      <p>
      Any questions about the conference can be emailed to
      <a href="mailto:sosp2019@gmail.com">sosp2019@gmail.com</a>.  Contact the 
      webmasters directly regarding any problems and/or request to changes to 
      the titles, author list, or affiliations.</p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
