{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Registration</h3>

    <div class="col-md-12">
      <h5 class="left-h">Registration Desk</h5>
      <p>
      The SOSP Registration Desk will be located in the north hallway of the 
      conference centre at the Deerhurst Resort. The tentative hours for this 
      check-in desk for SOSP attendees are as follows:</p>
      <ul>
	<li>Saturday, October 26 4:00pm to 8:00pm</li>
	<li>Sunday, October 27 8:00am to 8:00pm</li>
	<li>Monday, October 28 8:00am to 6:00pm</li>
	<li>Tuesday, October 29 8:00am to 3:00pm</li>
      </ul>
    </div>

    <div class="col-md-12">
      <h5>Registration Links</h5>
      <ul>
        <li><a href="http://www.cvent.com/d/06qwyh">Conference Registration</a></li>
        <li>Hotel Reservation: As of September 16, the SOSP hotel room block is 
          over 70% full, with limited availability for Saturday night and 
          Wednesday night.  Please make your hotel bookings as soon as possible, 
          and definitely before the October 6 deadline.  To do so, please call 
          the hotel directly (<b>1-800-461-4393</b>) and ask for a group 
        reservations agent.  Remember to quote the <b>group code ASCM102719</b> 
        to obtain the ACM SOSP room rates.</li>
        <li><a href="visa.html">Visa Information</a></li>
      </ul>
      <br/>
      <p>For information about Visas and how to obtain a support letter for 
      your Visa application, please first register for the conference and then 
      work with ACM to obtain the letter. Please follow the instructions on our 
      <a href="visa.html">Visa Information page.</a></p>
      </p>
    </div>

    {% set showWorkshops = True %}
    {% set showGeneral = True %}

    <div class="col-md-12 welcome-middle">
      <p>
      All fees are in US dollars.
      </p>
    </div>
    {% include "fees.html" %}

    <div class="col-md-12">
  <p>
  <b>Cancellation Policy</b>: Cancellations made prior to October 1, 2019 will 
  receive a full refund, while those made between October 1 and October 15 
  (inclusive) will receive a 50% refund. No refunds are provided for any 
  cancellations received after October 15, 2019.  Modifications to 
  registrations are permitted until October 15, 2019. Substitutions (same type) 
  for registered attendees are permitted at any time.
  </p>
    </div>

    {% set showWorkshops = True %}
    {% set showGeneral = True %}
    {% include "dates.html" %}

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Problems</h5>
      <p>Any questions about the conference can be emailed to
      <a href="mailto:sosp2019@gmail.com">sosp2019@gmail.com</a></p>.
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
