{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Preliminary Workshop and Tutorial Program</h3>
    <div class="col-md-12">
      <p align="center">
      <img class="icon-paper" src="images/icon-paper.png"></img> Paper PDF &nbsp;&nbsp;
      <img class="icon-slide" src="images/icon-slide.png"></img> Talk Slides &nbsp;&nbsp;
      <img class="icon-video" src="images/icon-video.png"></img> Talk Video &nbsp;&nbsp;
      <img class="icon-links" src="images/icon-links.png"></img> Audience Questions &nbsp;&nbsp;
      <img class="icon-links" src="images/icon-answer.png"></img> Author Responses
      </p>
    </div>

    <div class="col-md-12">
	<p>For details regarding each workshop and tutorial please see their 
	respective web pages.</p>
    </div>

    <div class="col-md-12">
    <h2 class="left-h">Workshop Schedule</h2>
    <h5 class="left-h">Sunday</h5>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="success">
	<td><strong>Breakfast</strong> (Eclipse Dining Room)
          <span class="pull-right"><i>7:30 AM - 9:00 AM</i></span>
        </td></tr>
      <tr><td></td></tr>

      <tr class="info"><td><strong>Workshops morning pre-break session</strong>
          <span class="pull-right"><i>9:00 AM - 10:30 AM</i></span>
      </td></tr>
      <tr><td></td></tr>

      <tr class="success"><td><strong>Break</strong>
          <span class="pull-right"><i>10:30 AM - 11:00 AM</i></span>
      </td></tr>
      <tr><td></td></tr>

      <tr class="info"><td><strong>Workshops morning pre-break session</strong>
          <span class="pull-right"><i>11:00 AM - 12:30 PM</i></span>
      </td></tr>
      <tr><td></td></tr>

      <tr class="success"><td><strong>Lunch</strong> (Waterhouse Ballroom)
          <span class="pull-right"><i>12:30 PM - 2:00 PM</i></span>
      </td></tr>
      <tr><td></td></tr>

      <tr class="info"><td><strong>Workshop afternoon pre-break session</strong>
          <span class="pull-right"><i>2:00 PM - 3:30 PM</i></span>
      </td></tr>

      <tr><td>
          <span class="pull-right"></span>
            <strong><a href=""></a></strong>
          </td></tr>

      <tr class="success"><td><strong>Break</strong>
          <span class="pull-right"><i>3:30 PM - 4:00 PM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Workshop afternoon post-break session</strong>
          <span class="pull-right"><i>4:00 PM - 5:30 PM</i></span>
      </td></tr>

      <tr><td>
          <span class="pull-right"></span>
            <strong><a href=""></a></strong>
          </td></tr>

      <tr class="success"><td><strong>Dinner</strong> (Peninsula Room)
          <span class="pull-right"><i>6:00 PM - 8:00 PM</i></span>
      </td></tr>
    </table>

    <h2 class="left-h">Morning Tutorial Schedule</h2>
    <h5 class="left-h">Sunday</h5>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="success">
	<td><strong>Breakfast</strong> (Eclipse Dining Room)
	  <span class="pull-right"><i>7:30 AM - 9:00 AM</i></span>
        </td></tr>
      <tr><td></td></tr>

      <tr class="info"><td><strong>Morning Tutorial pre-break session</strong>
          <span class="pull-right"><i>9:00 AM - 10:30 AM</i></span>
      </td></tr>
      <tr><td></td></tr>

      <tr class="success"><td><strong>Break</strong>
          <span class="pull-right"><i>10:30 AM - 11:00 AM</i></span>
      </td></tr>
      <tr><td></td></tr>

      <tr class="info"><td><strong>Morning Tutorial pre-break session</strong>
          <span class="pull-right"><i>11:00 AM - 12:30 PM</i></span>
      </td></tr>
      <tr><td></td></tr>

      <tr class="success"><td><strong>Lunch</strong> (Waterhouse Ballroom)
	  <span class="pull-right"><i>12:30 PM - 2:00 PM</i></span>
      </td></tr>
      <tr><td></td></tr>

      <tr class="success"><td><strong>Dinner</strong> (Peninsula Room)
          <span class="pull-right"><i>6:00 PM - 8:00 PM</i></span>
      </td></tr>
    </table>

    <h2 class="left-h">Afternoon Tutorial Schedule</h2>
    <h5 class="left-h">Sunday</h5>
    <table class="table table-spread" style="padding-left:auto;">
      <tr class="success">
	<td><strong>Breakfast</strong> (Eclipse Dining Room)
	  <span class="pull-right"><i>7:30 AM - 9:00 AM</i></span>
        </td></tr>
      <tr><td></td></tr>

      <tr class="success"><td><strong>Lunch</strong> (Waterhouse Ballroom)
          <span class="pull-right"><i>12:30 PM - 2:00 PM</i></span>
      </td></tr>
      <tr><td></td></tr>

      <tr class="info"><td><strong>Afternoon Tutorial pre-break session</strong>
          <span class="pull-right"><i>2:00 PM - 3:30 PM</i></span>
      </td></tr>

      <tr><td>
          <span class="pull-right"></span>
            <strong><a href=""></a></strong>
          </td></tr>

      <tr class="success"><td><strong>Break</strong>
          <span class="pull-right"><i>3:30 PM - 4:00 PM</i></span>
      </td></tr>
      <tr><td></td></tr>
      <tr class="info"><td><strong>Afternoon Tutorial post-break session</strong>
          <span class="pull-right"><i>4:00 PM - 5:30 PM</i></span>
      </td></tr>

      <tr><td>
          <span class="pull-right"></span>
            <strong><a href=""></a></strong>
          </td></tr>

      <tr class="success"><td><strong>Dinner</strong> (Peninsula Room)
          <span class="pull-right"><i>6:00 PM - 8:00 PM</i></span>
      </td></tr>
    </table>

    </div>
    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Problems</h5>
      <p>
      Any questions about the conference can be emailed to
      <a href="mailto:sosp2019@gmail.com">sosp2019@gmail.com</a> </p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
