{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Call for Student Scholarship Applications</h3>
    <div class="col-md-12 welcome-middle">
    <p>
    SOSP 2019, through generous donations from conference sponsors, will offer 
    scholarships to assist students attending the conference. Each scholarship 
    (fully or partially) reimburses the SOSP conference registration, a shared 
    hotel room during the conference, and round trip air travel to/from the 
    conference.  scholarship students may be asked to scribe a technical 
    session.  These services are greatly appreciated, and provide additional 
    networking opportunities with other conference participants. Actual duties 
    will be assigned as the conference nears, but students should identify any 
    time constraints in their application forms.
    </p>

    <p>
    These funds are limited, and will be based on a combination of need and 
    merit.  Scholarship recipient contact information will be made available to 
    scholarship sponsoring organizations.
    </p>

    <h4>Who should apply</h4>

    <p>
    Funding is available to students (graduate and undergraduate) from any 
    educational institution in the world. We especially encourage applications 
    from women, Aboriginal peoples, persons with disabilities, and all other 
    groups underrepresented in at SOSP, who will be given additional 
    consideration in the scholarship evaluation process. We also recommend them 
    to attend the Diversity Workshop at SOSP (details to come). The workshop may 
    have  additional scholarship funding, and applicants will be evaluated and 
    awards determined through this unified scholarship application process.
    </p>

    <p>
    Applicants must be members of the ACM. See the ACM site for a student 
    membership application. Note that ACM provides reduced rates for students 
    residing in economically developing countries.
    </p>

    <h4>How to apply</h4

    <p>Check back for dates and application instructions!</p>

    <h4>Scholarship Committee</h4>
    <p>
    Angela Demke Brown, University of Toronto<br/>
    Pedro Fonseca, Purdue University<br/>
    Trinabh Gupta, University of California, Santa Barbara<br/>
    Ryan Huang, Johns Hopkins University<br/>
    Guoliang Jin, North Carolina State University<br/>
    Jeanna Matthews, Clarkson University<br/>
    Dilma Da Silva, Texas A&M University<br/>
    Yang Wang, Ohio State University
    </p>

    </div>
    <div class="clearfix"> </div>
  </div>
{% endblock %}
