{# vim: ts=1:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Information for Conference, Workshop and Tutorial Speakers</h3>

    <div class="col-md-12 welcome-middle">
      <p>
      Some things to note when preparing and giving your talks:
      </p>
      <ul>
        <li>We have been told that all projectors support a 16:9 aspect ratio
  natively, so we encourage you to try to create slides that
  use the aspect ratio to fill the screen.</li>
        <li>You can produce slides using 4:3 but part of the screen
          just won't get used.</li>
        <li>We have been told that all projectors will have an HDMI and
  a VGA cable that you can use to connect to the projector(s).
  Please try to bring an appropriate video cable adapter for your
  device that will allow you to use one of those two cables.</li>
        <li>In Canada (and the US) the power plugs and sockets are of type A
  and B. The standard voltage is 120 V and the standard frequency
  is 60 Hz.  If you are coming from another country that uses
  different standards please consider buying an appropriate adapter
  to bring with you.  Also, remember to fully charge your laptop
  before your talk.</li>
        <li>Some rooms are a bit long and/or large.
  Please be sure to use large fonts (including those used on graphs)
  so they can be read from the back of the room. Note that taking
  a screen shot and/or cutting and pasting graphs from the paper
  often don't work very well because they are too small and the
  quality can be very poor.  Please consider remaking some graphs
  specifically for the talk, with larger fonts and with colours
  that can be easily distinguished.</li>
        <li>If your are using a clip-on microphone, please try to place the
  clip in the middle of your shirt (rather than to one side or the
  other) so that if you turn your head one way or the other the
  microphone will still pick up your voice.</li>
      </ul>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Problems</h5>
      <p>
      Any questions about the conference can be emailed to
      <a href="mailto:sosp2019@gmail.com">sosp2019@gmail.com</a> </p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
