{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Deerhurst Resort</h3>

    <div class="col-md-12">
    SOSP 2019 will be held at <a href="https://deerhurstresort.com/">Deerhurt 
      Resort</a> in Ontario, Canada.
    <br/>
    <br/>
    </div>
    <div class="clearfix"> </div>
    <div class="col-md-6">
      <img src="images/DEER-1404.jpg" width="90%">
      <img src="images/DEER-1334.jpg" width="90%">
      <img src="images/DEER-1380.jpg" width="90%">
    </div>
    <div class="col-md-6">
      <img src="images/DEER-1337.jpg" width="90%">
      <img src="images/DEER-1398.jpg" width="90%">
    </div>

    <div class="clearfix"> </div>

    <div class="col-md-12">
    <br/>
    <h3>Directions</h3>
    <iframe width="500" height="400" frameborder="0" 
                                     src="https://www.bing.com/maps/embed?h=400&w=500&cp=45.34415033499738~-79.13434868911484&lvl=14&typ=d&sty=r&src=SHELL&FORM=MBEDV8" 
                                     scrolling="no">
     </iframe>
    <div style="white-space: nowrap; text-align: center; width: 500px; padding: 
    6px 0;">
        <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=45.34415033499738~-79.13434868911484&amp;sty=r&amp;lvl=14&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
        <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=45.34415033499738~-79.13434868911484&amp;sty=r&amp;lvl=14&amp;rtp=~pos.45.34415033499738_-79.13434868911484____&amp;FORM=MBEDLD">Get Directions</a>
    </div>
    </div>
    <div class="clearfix"> </div>
  </div>
{% endblock %}
