{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Koblenz, Germany</h3>
    <h5>The City</h5>
    <p>
      Koblenz is a small city located at the confluence of two rivers - Rhine and Moselle.
      Originally established as a Roman military post by Drusus around 8 B.C., the city
      boasts more than 2000 years or rich history.
    </p>
    <h5>Getting to Koblenz</h5>
    <p> 
      Koblenz is located nearly half way between Frankfurt and Cologne. Frankfurt airport
      is a major European hub with direct connections to most major international airports
      around the world. From Frankfurt airport, Koblenz is a 1h15m scenic train ride
      along the river Rhine. The train ride goes through the Upper Middle Rhine Valley
      which is a UNESCO World Heritage Site.
    </p>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
