{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>Visa Information</h3>
    <div class="col-md-12 welcome-middle">
    <p>
      ACM is able to provide visa support letters for ACM SOSP 2019 conference attendees
      who need such letters to accompany their travel visa applications.
      Please make sure to request such letters <b>early</b>, and no later than September 1, 2019.
    </p>
    <p>
      For visa support letters, please contact
      <a href="mailto:supportletters@acm.org">supportletters@acm.org</a>.
      Please allow up to 10 business days to receive a letter. All requests are
      handled in the order they are received. The information below should be
      included with the request:
    </p>
    <ul>
      <li>The nationality of your passport</li>
      <li>Your name as it appears on your passport</li>
      <li>Your current postal mailing address</li>
      <li>Your registration confirmation number for ACM SOSP 2019</li>
      <li>If you have a paper accepted for the conference, please provide the
        title and indicate whether you are sole author, co-author, and/or presenter.</li>
    </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
{% endblock %}
