{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <div class="col-md-12 welcome-middle">
      <h3>Workshops</h3>

      <h5 style="text-align:center;"><a href="#aisys">AI Systems</a> | <a href="#plos">PLOS</a> | <a href="#systex">SysTEX</a> | <a href="#diversity">Diversity</a></h5>

      <p>All workshops will take place on Sunday October 27, 2019.</p>

      <a href="http://learningsys.org/sosp19/">
        <h5 class="left-h" id="aisys">AI Systems</h5>
      </a>
      <p>
      <b>Organizers</b>
      <ul>
        <li>Sarah Bird, Microsoft</li>
        <li>Garth Gibson, CMU</li>
        <li>Joseph Gonzalez, UC Berkeley</li>
        <li>Aparna Lakshmiratan, Facebook</li>
        <li>Siddhartha Sen, Microsoft Research</li>
        <li>Dan Crankshaw, UC Berkeley</li>
      </ul>
      </p>
      <p>
A new area is emerging at the intersection of artificial intelligence, machine 
learning, and systems design. This birth is driven by the explosive growth of 
diverse applications of ML in production, the continued growth in data volume, 
and the complexity of large-scale learning systems. The goal of this workshop is 
to bring together experts working at the crossroads of machine learning, system 
design and software engineering to explore the challenges faced when building 
practical large-scale ML systems. In particular, we aim to elicit new 
connections among these diverse fields, and identify tools, best practices and 
design principles. We also want to think about how to do research in this area 
and properly evaluate it. The workshop will cover ML and AI platforms and 
algorithm toolkits, as well as dive into machine learning-focused developments 
in distributed learning platforms, programming languages, data structures, GPU 
processing, and other topics.
      </p>
      <p>
This workshop will follow the successful model we have previously run at ICML, 
SOSP and NIPS.
      </p>
      <p>
Our plan is to run this workshop annually co-located with one ML venue and one 
Systems venue, to help build a strong community which we think will complement 
newer conferences like SysML targeting research at the intersection of systems 
and machine learning. We believe this dual approach will help to create a low 
barrier to participation for both communities.
      </p>

      <a href="http://plos-workshop.org/">
	<h5 class="left-h" id="plos">PLOS 2019: Tenth Workshop on Programming Languages 
	    and Operating Systems</h5>
      </a>
      <p>
      <b>Organizers</b>
      <ul>
        <li>Chris Hawblitzel, Microsoft Research</li>
        <li>Gilles Muller, LIP6</li>
        <li>Olaf Spinczyk, TU Dortmund</li>
      </ul>
      </p>
      <p>
Historically, operating system development and program-
ming language development went hand-in-hand. Cross-
fertilization was the norm. Challenges in one area were often
approached using ideas or techniques developed in the other,
and advances in one enabled new capabilities in both. Today,
although the systems community at large retains an iron grip
on C, modern programming language ideas continue to spark
innovations in OS design and construction. Conversely, the
systems field continues to provide a wealth of challenging
problems and practical results that should spark advances in
programming languages, software designs, and idioms.
      </p>
      <p>
      This workshop will bring together researchers and devel-
opers from the programming language (PL) and operating
system (OS) domains to discuss recent work at the inter-
section of these fields. It will be a platform for discussing
new visions, challenges, experiences, problems, and solu-
tions arising from the application of advanced programming
and software engineering concepts to operating systems con-
struction, and vice versa.
      </p>
      <p>
      <a href="http://plos-workshop.org/">See PLOS Website for More Details</a>
      </p>

      <a href="http://systex.ibr.cs.tu-bs.de/systex19/index.html">
        <h5 class="left-h" id="systex">4th Workshop on System Software for Trusted Execution (SysTEX 2019)</h5>
      </a>
      <p>
      <b>Organizers</b>
      <ul>
        <li>Prof Peter Pietzuch, Imperial College London, UK</li>
        <li>Prof Rüdiger Kapitza, TU Braunschweig, Germany</li>
        <li>Prof Christof Fetzer, TU Dresden, Germany</li>
        <li>Prof Pascal Felber, University of Neuchatel, Switzerland</li>
      </ul>
      </p>
      <p>
      With the rise of new hardware extensions that permit fine-grained and 
      flexible trusted execution, we need appropriate systems support that makes 
      trusted execution environments (TEEs) such as Intel's Software Guard 
      Extensions (SGX) or ARM's TrustZone conveniently usable by application 
      developers. The 4th Workshop on System Software for Trusted Execution 
      (SysTEX) will focus on systems research challenges related to TEEs, and 
      explore new ideas and strategies for the implementation of trustworthy 
      systems with TEEs.
      </p>
      <p>
      <a href="http://systex.ibr.cs.tu-bs.de/systex19/index.html">See SysTEX 
        Website for More Details</a>
      </p>

      <h5 class="left-h" id="diversity">Diversity at SOSP</h5>
      <p>
      <b>Organizers</b>
      <ul>
        <li>Sasha Fedorova, UBC</li>
        <li>Shan Lu, UChicago</li>
        <li>Irina Calciu, VMWare</li>
      </ul>
      </p>
      <p>
      Colocated with SOSP 2019, the workshop provides a forum for female and minority students at the graduate and advanced undergraduate levels who have interests in computer systems research. The workshop program will include keynote talks, panel sessions, and interactive events offered and organized by leading researchers in academia and industry, covering topics about system research and general career development tips. The overall goal of the workshop is to strengthen the pipeline of underrepresented systems students, providing them with advice and networking opportunities that they might not otherwise receive.
      </p>
    </div>
    <div class="col-md-12">
      <h5 class="left-h">Contact</h5>
      <p>
      Any questions should be emailed to the SOSP 2019 Workshop Chair, Bianca 
      Schroeder (bianca@cs.toronto.edu).
      </p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
